<h1>{{title}} <span class="btn btn-success" [routerLink]="['/adicionar-produtos']">Adicionar</span></h1>

<div class="list-group">
  <a href="javascript:alert('Detalhes1')" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Geladeira Frost Free</h5>
      <span class="text-right">
        <button type="button" class="btn btn-primary">Alterar</button>
        <button type="button" href="javascript:alert('Excluir1')" class="btn btn-danger">Excluir</button>
      </span>
    </div>
    <p class="mb-1">Este produto é totalmente versátil. Tudo para ser personalizado para comportar o que você preferir</p>
    <p class="mb-1"><small>Marca: Electrolux</small></p>
    <p class="mb-1"><small>Tensão: 220v</small></p>
  </a>
  <a href="javascript:alert('Detalhes2')" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Geladeira Frost Free</h5>
      <span class="text-right">
        <a href="javascript:alert('Alterar2')">Alterar</a> | <a href="javascript:alert('Excluir2')">Excluir</a>
      </span>
    </div>
    <p class="mb-1">Este produto é totalmente versátil. Tudo para ser personalizado para comportar o que você preferir</p>
    <p class="mb-1"><small>Marca: Electrolux</small></p>
    <p class="mb-1"><small>Tensão: 220v</small></p>
  </a>
  <a href="javascript:alert('Detalhes3')" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Geladeira Frost Free</h5>
      <span class="text-right">
        <a href="javascript:alert('Alterar3')">Alterar</a> | <a href="javascript:alert('Excluir3')">Excluir</a>
      </span>
    </div>
    <p class="mb-1">Este produto é totalmente versátil. Tudo para ser personalizado para comportar o que você preferir</p>
    <p class="mb-1"><small>Marca: Electrolux</small></p>
    <p class="mb-1"><small>Tensão: 220v</small></p>
  </a>
</div>
