<h1>{{title}} <span class="btn btn-success" [routerLink]="['/adicionar-produtos']">Adicionar</span></h1>

<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="msgSuccess">
  {{msgSuccess}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="msgErrors">
  {{msgErrors}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="exibirConfirmacaoExcluir">
  Tem certeza que deseja remover?

  <button type="button" class="btn btn-success" (click)="excluir()">SIM</button> &nbsp;

  <button type="button" class="btn btn-primary" (click)="exibirConfirmacaoExcluir=false">CANCELAR</button>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="list-group">
  <span *ngFor="let produto of produtos">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{produto.nome}}</h5>
        <span class="text-right">
          <button type="button" class="btn btn-primary" (click)="alterar(produto)">Alterar</button>
          <button type="button" (click)="confirmacaoExcluir(produto)" class="btn btn-danger">Excluir</button>
        </span>
      </div>
      <p class="mb-1">{{produto.descricao}}</p>
      <p class="mb-1"><small>Marca: {{produto.marca}}</small></p>
      <p class="mb-1"><small>Tensão: {{produto.tensao}}</small></p>
    </a>
  </span>
</div>
